body {
  font-family: kumbh, sans-serif;
  background-color: $bg;
}

.container {
  width: 100%;
  margin-inline: auto;
  padding-inline: 2.4rem;
  @media (min-width: $sm) {
    max-width: 54rem;
  }
  @media (min-width: $md) {
    max-width: 72rem;
  }
  @media (min-width: $lg) {
    max-width: 96rem;
  }
  @media (min-width: $xl) {
    max-width: 110rem;
  }
}

// header
.main-header {
  background-image: url('../assets/bg-pattern-header.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 13.6rem;
  padding-top: 3.2rem;
  @media (min-width: $md) {
    background-position: initial;
  }
  @media (min-width: $lg) {
    background-position: bottom;
  }
}

.search-form {
  width: 100%;
  transform: translateY(-50%);
}

// Cards grid
.cards-grid {
  margin-bottom: 6.2rem;
}

.cards-container {
  display: flex;
  flex-direction: column;
}
