body {
  font-family: kumbh, sans-serif;
  background-color: $bg;
}

.skip {
  display: none;
}

.container {
  width: 100%;
  margin-inline: auto;
  padding-inline: 2.4rem;
  @media (min-width: $sm) {
    max-width: 33rem;
  }
  @media (min-width: $md) {
    max-width: 69rem;
    padding-inline: 4rem;
  }
  @media (min-width: $lg) {
    max-width: 1110px;
  }
  @media (min-width: $xl) {
    max-width: 1110px;
  }
}

// gestion de l'image en fonction de la taille de l'écran (3 images différentes)
.main-header {
  background-image: url('../assets/mobile/bg-pattern-header.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: bottom;
  position: relative;
  @media (min-width: $md) {
    background-image: url('../assets/tablet/bg-pattern-header.svg');
  }
  @media (min-width: $lg) {
    background-image: url('../assets/desktop/bg-pattern-header.svg');
  }
}

.search-form {
  width: 100%;
  transform: translateY(-50%);
}

// Cards grid
.cards-grid {
  margin-bottom: 6.2rem;
  position: relative;
  @media (min-width: $md) {
    margin-top: 4.5rem;
  }
  @media (min-width: $lg) {
    margin-top: 6rem;
  }
}

.cards-container {
  display: flex;
  flex-direction: column;
}
