$violet: rgb(89, 100, 224);
$light-violet: rgb(147, 155, 244);
$dark-blue: rgb(25, 32, 45);
$midnight: rgb(18, 23, 33);
$white: rgb(255, 255, 255);
$light-grey: rgb(244, 246, 248);
$grey:  rgb(157, 174, 194);
$dark-grey: rgb(110, 128, 152);

$sm: 36em;
$md: 48em;
$lg: 62em;
$xl: 75em;

  :root {
    --title: rgb(25, 32, 45)e;
    --txt: rgb(110, 128, 152);
}
